In [1]:
import pandas as pd

def load_props(path):
    temp = pd.read_json(path)
    df = pd.json_normalize(temp.files)
    return df

In [2]:
# https://dataverse.harvard.edu/file.xhtml?fileId=5745840&version=2.1
df = load_props('../results/rate_ssim_byQ/properties_001.json')

In [7]:
df.width.describe()

count    5000.000000
mean      573.754800
std        94.003704
min       200.000000
25%       500.000000
50%       640.000000
75%       640.000000
max       640.000000
Name: width, dtype: float64

In [8]:
df.height.describe()

count    5000.000000
mean      483.543000
std        98.765315
min       145.000000
25%       426.000000
50%       480.000000
75%       517.750000
max       640.000000
Name: height, dtype: float64

In [16]:
df[['width', 'height', 'rawsize']].sort_values(by='rawsize')[['width', 'height']].tail()

      width  height
2029    640     640
3682    640     640
4603    640     640
3643    640     640
294     640     640

In [19]:
df[['width', 'height', 'rawsize']].sort_values(by='rawsize')[['width', 'height']].drop_duplicates().tail()

      width  height
2913    635     640
3204    640     637
1265    640     638
417     639     640
777     640     639

In [18]:
df[['width', 'height', 'rawsize']].sort_values(by='rawsize')[['width', 'height']].value_counts().head()

width  height
640    480       1061
       427        606
480    640        336
500    375        240
640    426        215
dtype: int64