In [1]:
import sys; sys.path.append("..")
from evaldets.results import *
from evaldets.postprocess import *

In [2]:
s = GrandSummary('~/reval_05/')
s.set_q_idx = True  # new feature

In [3]:
pd.set_option("display.max_rows", None)
pd.set_option("display.precision", 2)
APprc = pd.DataFrame({k: v.AP * 100 for k, v in s.get_model_APs().items()})
# APprc

In [4]:
# any within 0.2 pp
APprc[(APprc + 0.2 > APprc.iloc[-1]).any(axis=1)]

,R101,R101_C4,R101_DC5,R101_FPN,R50,R50_C4,R50_DC5,R50_FPN,X101
quality,,,,,,,,,
88,39.97,40.66,40.22,41.82,38.38,38.09,38.80,39.77,42.74
89,40.07,40.65,40.25,41.77,38.42,38.09,38.87,39.95,42.88
90,40.23,40.69,40.28,41.84,38.38,38.09,38.84,40.00,42.93
91,40.17,40.73,40.31,41.82,38.42,38.08,38.89,39.92,42.92
92,40.09,40.70,40.32,41.78,38.37,38.21,38.79,39.98,42.84
93,40.17,40.82,40.25,41.83,38.39,38.20,38.88,40.01,42.88
94,40.24,40.85,40.39,41.91,38.52,38.36,38.98,40.11,42.99
95,40.35,41.01,40.54,41.89,38.51,38.35,38.99,40.10,43.02
96,40.38,41.02,40.63,42.03,38.61,38.27,38.98,40.16,43.05
97,40.40,40.99,40.65,42.00,38.63,38.32,39.01,40.17,43.13
98,40.42,41.01,40.58,41.96,38.60,38.40,39.03,40.25,43.06
99,40.40,41.03,40.64,42.04,38.63,38.38,39.03,40.17,43.10
100,40.42,41.01,40.66,41.99,38.64,38.41,39.03,40.19,43.07

In [5]:
# all within 0.2 pp
APprc[(APprc + 0.2 > APprc.iloc[-1]).all(axis=1)]

,R101,R101_C4,R101_DC5,R101_FPN,R50,R50_C4,R50_DC5,R50_FPN,X101
quality,,,,,,,,,
95,40.35,41.01,40.54,41.89,38.51,38.35,38.99,40.10,43.02
96,40.38,41.02,40.63,42.03,38.61,38.27,38.98,40.16,43.05
97,40.40,40.99,40.65,42.00,38.63,38.32,39.01,40.17,43.13
98,40.42,41.01,40.58,41.96,38.60,38.40,39.03,40.25,43.06
99,40.40,41.03,40.64,42.04,38.63,38.38,39.03,40.17,43.10
100,40.42,41.01,40.66,41.99,38.64,38.41,39.03,40.19,43.07

In [6]:
# perturbations of at least ~0.1 pp)
APprc.diff()[APprc.diff() < -0.09].dropna(axis=0, how="all").dropna(axis=1, how="all")

         R101  R50_C4  R50_DC5  R50_FPN  X101
quality
70        NaN     NaN      NaN    -0.09   NaN
76        NaN     NaN      NaN      NaN -0.12
79        NaN    -0.1      NaN      NaN   NaN
80      -0.12     NaN      NaN      NaN -0.10
92        NaN     NaN     -0.1      NaN   NaN

In [7]:
# low slope (but positive)
APprc.diff()[(APprc.diff() > 0.01) & (APprc.diff() < 0.5)].dropna(axis=0, how="any")

,R101,R101_C4,R101_DC5,R101_FPN,R50,R50_C4,R50_DC5,R50_FPN,X101
quality,,,,,,,,,
3,0.30,0.40,0.37,0.27,0.24,0.29,0.26,0.27,0.24
29,0.06,0.43,0.39,0.18,0.23,0.30,0.33,0.29,0.19
31,0.16,0.26,0.37,0.20,0.21,0.26,0.22,0.33,0.21
32,0.49,0.05,0.24,0.40,0.26,0.24,0.26,0.23,0.27
34,0.18,0.07,0.22,0.23,0.12,0.24,0.23,0.25,0.14
35,0.31,0.37,0.06,0.27,0.22,0.17,0.29,0.33,0.28
36,0.19,0.14,0.30,0.28,0.23,0.40,0.20,0.21,0.33
37,0.17,0.09,0.13,0.14,0.20,0.08,0.10,0.19,0.21
38,0.24,0.09,0.18,0.31,0.21,0.21,0.22,0.32,0.22
39,0.01,0.18,0.23,0.09,0.14,0.10,0.19,0.08,0.15
41,0.09,0.31,0.02,0.13,0.19,0.24,0.19,0.30,0.09
43,0.19,0.13,0.09,0.11,0.20,0.20,0.09,0.12,0.14
44,0.22,0.33,0.27,0.20,0.18,0.17,0.31,0.24,0.12
46,0.10,0.06,0.24,0.14,0.16,0.22,0.17,0.06,0.24
47,0.07,0.18,0.07,0.13,0.16,0.18,0.02,0.03,0.07
49,0.14,0.03,0.08,0.15,0.07,0.23,0.14,0.31,0.08
52,0.07,0.08,0.07,0.07,0.31,0.18,0.07,0.09,0.17
56,0.06,0.21,0.07,0.09,0.10,0.13,0.05,0.07,0.10
65,0.15,0.15,0.02,0.17,0.13,0.26,0.07,0.16,0.09
68,0.03,0.03,0.03,0.19,0.08,0.10,0.13,0.09,0.02
77,0.07,0.14,0.13,0.05,0.06,0.12,0.19,0.11,0.26
81,0.05,0.06,0.08,0.12,0.18,0.19,0.09,0.24,0.05
86,0.06,0.19,0.11,0.09,0.10,0.01,0.10,0.11,0.22
94,0.07,0.04,0.14,0.09,0.13,0.15,0.10,0.10,0.11

In [8]:
# low slope -- generally
APprc.diff()[APprc.diff() < 0.9].dropna(axis=0, how="any").index

Int64Index([  2,   3,   4,  24,  25,  26,  27,  28,  29,  30,  31,  32,  33,
             34,  35,  36,  37,  38,  39,  40,  41,  42,  43,  44,  45,  46,
             47,  48,  49,  50,  51,  52,  53,  54,  55,  56,  57,  58,  59,
             60,  61,  62,  63,  64,  65,  66,  67,  68,  69,  70,  71,  72,
             73,  74,  75,  76,  77,  78,  79,  80,  81,  82,  83,  84,  85,
             86,  87,  88,  89,  90,  91,  92,  93,  94,  95,  96,  97,  98,
             99, 100],
           dtype='int64', name='quality')

In [9]:
# low slope -- strong for all
APprc.diff()[APprc.diff() > 1].dropna(axis=0, how="any").index

Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17], dtype='int64', name='quality')

In [10]:
# low slope -- strong for any
APprc.diff()[APprc.diff() > 1].dropna(axis=0, how="all").index

Int64Index([5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22], dtype='int64', name='quality')

In [11]:
# low slope -- strong for any
APprc.diff()[APprc.diff() > 1].dropna(axis=0, how="all")

,R101,R101_C4,R101_DC5,R101_FPN,R50,R50_C4,R50_DC5,R50_FPN,X101
quality,,,,,,,,,
5,1.33,1.60,1.55,1.37,1.16,1.33,1.25,1.32,1.47
6,1.55,1.66,1.72,1.63,1.48,1.66,1.72,1.65,1.47
7,1.87,2.12,1.87,1.70,1.64,1.58,1.85,1.79,1.63
8,2.09,2.17,2.26,1.92,1.89,1.97,2.02,2.03,1.93
9,2.18,2.25,2.36,2.25,1.96,2.02,2.04,2.03,2.24
10,2.01,2.34,2.18,2.11,2.13,1.99,2.17,2.17,2.18
11,2.33,2.23,2.28,2.40,1.88,1.87,1.95,2.00,2.31
12,2.01,2.13,2.06,1.93,1.99,1.84,2.07,2.12,2.07
13,1.87,2.16,1.86,2.19,1.83,1.73,1.97,1.71,2.31
14,1.54,1.47,1.56,1.53,1.46,1.48,1.48,1.58,1.86
15,1.77,1.62,1.76,2.01,1.64,1.60,1.60,1.76,1.91
16,1.43,1.65,1.67,1.76,1.42,1.35,1.40,1.43,1.65
17,1.62,1.31,1.28,1.49,1.27,1.25,1.34,1.44,1.62
18,1.00,1.01,NaN,1.15,1.11,1.15,1.21,1.06,1.14
19,NaN,NaN,NaN,1.01,NaN,NaN,NaN,NaN,1.15
20,NaN,1.09,1.06,1.11,NaN,NaN,1.08,1.00,1.28
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.03,NaN

In [12]:
# low slope -- strong for any
APprc.diff()[APprc.diff() > 2].dropna(axis=0, how="all")

,R101,R101_C4,R101_DC5,R101_FPN,R50,R50_C4,R50_DC5,R50_FPN,X101
quality,,,,,,,,,
7,NaN,2.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2.09,2.17,2.26,NaN,NaN,NaN,2.02,2.03,NaN
9,2.18,2.25,2.36,2.25,NaN,2.02,2.04,2.03,2.24
10,2.01,2.34,2.18,2.11,2.13,NaN,2.17,2.17,2.18
11,2.33,2.23,2.28,2.40,NaN,NaN,NaN,NaN,2.31
12,2.01,2.13,2.06,NaN,NaN,NaN,2.07,2.12,2.07
13,NaN,2.16,NaN,2.19,NaN,NaN,NaN,NaN,2.31
15,NaN,NaN,NaN,2.01,NaN,NaN,NaN,NaN,NaN

In [13]:
APprc.diff().loc[40]

R101        1.22e-01
R101_C4    -8.80e-03
R101_DC5    1.63e-01
R101_FPN    7.99e-02
R50         6.65e-02
R50_C4     -5.70e-03
R50_DC5    -8.21e-03
R50_FPN     7.44e-02
X101        1.65e-01
Name: 40, dtype: float64