In [1]:
import sys; sys.path.append("..")
from evaldets.postprocess import *
#logging.basicConfig(level=logging.INFO)

In [2]:
gt_for_single_run(os.path.expanduser("~/reval_05/baseline_05/evaluator_dump_X101_101/"))

loading annotations into memory...
Done (t=0.52s)
creating index...
index created!

,image_id,score,iou,gt_id,category,model,quality,crowd
0,139,0.996971,0.941493,34646,tv,X101,101,False
1,139,0.996044,0.922262,104368,chair,X101,101,False
2,139,0.989656,0.866955,230831,person,X101,101,False
3,139,0.981813,0.805265,103487,chair,X101,101,False
4,139,0.959748,0.862392,105328,chair,X101,101,False
...,...,...,...,...,...,...,...,...
41403,581781,0.059308,0.767449,1545698,banana,X101,101,False
41404,581781,0.059008,1.000000,905200581781,banana,X101,101,True
41405,581781,0.057273,0.992907,905200581781,banana,X101,101,True
41406,581781,0.055826,0.973680,905200581781,banana,X101,101,True
41407,581781,0.050366,1.000000,905200581781,banana,X101,101,True

In [3]:
# 1h 41m 9s when run with empty caches, and creates an additional 10.5 GB of .pkl.gz
# Without compression might be faster, but needs 28.9 GB for .pkl
df = gt_id_statistics("~/reval_05/")

In [4]:
df

,image_id,score,iou,gt_id,category,model,quality,crowd
0,632,0.334169,1.000000,908400000632,book,R101,1,True
1,632,0.320505,1.000000,908400000632,book,R101,1,True
2,632,0.298108,1.000000,908400000632,book,R101,1,True
3,632,0.293878,1.000000,908400000632,book,R101,1,True
4,632,0.291150,1.000000,908400000632,book,R101,1,True
...,...,...,...,...,...,...,...,...
34783697,581781,0.070692,0.990881,905200581781,banana,X101,100,True
34783698,581781,0.059493,1.000000,905200581781,banana,X101,100,True
34783699,581781,0.057941,0.992965,905200581781,banana,X101,100,True
34783700,581781,0.054565,0.767782,1545698,banana,X101,100,False
34783701,581781,0.053911,0.973756,905200581781,banana,X101,100,True

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34783702 entries, 0 to 34783701
Data columns (total 8 columns):
 #   Column    Dtype
---  ------    -----
 0   image_id  int64
 1   score     float64
 2   iou       float64
 3   gt_id     int64
 4   category  object
 5   model     object
 6   quality   int64
 7   crowd     bool
dtypes: bool(1), float64(2), int64(3), object(2)
memory usage: 1.8+ GB

In [6]:
df[df.crowd==False].gt_id.value_counts().value_counts().sort_index().plot()
plt.xlabel("number of GT objects")
plt.ylabel("times object present in all results")
plt.title("Object frequency in results")
save_plot(plt.gcf(), "2021-07-07-GT-statistics-GT-object-difficulty")
plt.close()

Saved 2021-07-07-GT-statistics-GT-object-difficulty.png
  and 2021-07-07-GT-statistics-GT-object-difficulty.pdf

In [7]:
df[df.crowd==False].gt_id.value_counts()

268893     900
339051     900
504244     900
404009     900
335745     900
          ...
282829       1
1825888      1
1627733      1
1634963      1
1526318      1
Name: gt_id, Length: 34951, dtype: int64

In [8]:
df[df.crowd==False].gt_id.value_counts().value_counts().sort_index(ascending=False)

900    201
899     37
898     67
897     37
896     44
      ...
5       56
4       73
3       78
2      102
1      143
Name: gt_id, Length: 900, dtype: int64